newfont {
  font-family: Tomatoes.ttf;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}


.h {
	
	padding-right; 100px;
}